h1{
    font-family: 'Helvetica';
    color: purple;
    background-color: rgb(196, 206, 164);
}
body {
    font-size: 16px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
 }

 p {
    line-height: 1.5;
 }
 .problem_description {
    color: rgb(207, 228, 131);
    background-color: rgb(190, 146, 235);
 }

 img {
     max-width: 100px;
     max-height: 150px;
 }
 
 .prior {
    color: rgb(94, 152, 219);
 }
